@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mandali&family=Raleway&family=Roboto:wght@300&display=swap");

/* --VARIABLES-- */

:root {
    --ff-logo: "Lato", sans-serif;
    --ff-main: "Mandali", sans-serif;
    --ff-secondary: "Roboto", sans-serif;
    --fw-l: 300;
    --fw-m: 400;
    --clr-light: #f7f7f7;
    --clr-primary: #393e46;
    --clr-secondary: rgb(242, 231, 213);
}

/* --RESET CSS-- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--clr-secondary);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* --UTILITIES-- */

.ffmain {
    font-family: var(--ff-main);
    font-weight: var(--fw-m);
}

.fflogo {
    font-family: var(--ff-logo);
    font-weight: var(--fw-l);
}

.ffsecondary {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-m);
}

.linear-bg {
    background: linear-gradient(to bottom, #393e46e8, rgba(66, 65, 65, 0.897));

}


.tshdw {
    text-shadow: 0 0 2px #000;
}

.tshdw-big {
    text-shadow: 0 0 3px black, 0 -3px 15px black;
}

.bshdw {
    box-shadow: 0 0 5px #000;
}

.txt-decor {
    text-decoration: none;
}

.list-style {
    list-style: none;
}

.clr-secondary {
    color: var(--clr-secondary);
}

.clr-primary {
    color: var(--clr-primary);
}

.fs-big {
    font-size: 2rem;
}

.fs-medium {
    font-size: 1.2rem;
}

.fs-small {
    font-size: 0.8em;
}

.bottom-margin {
    margin-bottom: 1rem;
}

.b-radius {
    border-radius: 10px;
}

.sml-padding {
    padding: 1rem;
}

/* --HEADER-- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    padding-bottom: 3px;
}

.navbar__logo {
    letter-spacing: 5px;
}

.navbar__logo-span {
    font-size: 1.8rem;
    margin: 0 20px;
    padding: 0 0 3px 6px;
    border: 1px solid var(--clr-secondary);
}

.navbar__sections {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
}

.navbar__link {
    width: 12rem;
    height: 2rem;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 5px;
}

.navbar__link-hover:hover {
    border-bottom: 1px solid var(--clr-secondary);
    padding-bottom: 5px;
}

/* --HERO SECTION-- */

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../images/background-image.webp) no-repeat center center;
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;
    animation: hero-zoom 4s forwards;
}

/* Animation for hero background */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.hero__message {
    width: 50%;
    position: absolute;
    top: 30%;
    right: 25%;
    text-align: center;
}

.hero__message-big {
    font-size: 4rem;
}

.hero__message-small {
    margin-top: 2rem;
}

/* --ABOUT US-- */

#about-us {
    width: 70%;
    margin: 2rem auto;
    padding: 8rem 0;
    text-align: center;
}

.about-us__info {
    font-size: 1.5rem;
    margin-top: 2rem;
    font-style: italic;
    padding: 3.5rem;
}

.about-us-span {
    font-weight: 800;
}

.about-us__presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    gap: 3rem;
}

.about-us__card {
    width: 25rem;
    flex: 0.6 0 auto;
    border: 1px solid var(--clr-primary);
    overflow: hidden;
}

/* --DESIGN STEPS-- */

.design-steps {
    width: 100%;
    height: 55rem;
    background: url(../images/showroom.webp);
    background-size: cover;
    background-attachment: fixed;
    background-color: gray;
    background-blend-mode: multiply;
    position: relative;
}

.design-steps__title {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 5rem;
}

.design-steps__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    position: absolute;
    top: 45%;
    gap: 1rem;
}

.design-steps__card {
    padding: 1.2rem 1.5rem;
    text-align: center;
    width: 25rem;
    height: 12rem;
    letter-spacing: 2px;
}

/* --CONTACT US-- */

#contact {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 4rem;

}

.contact__title {
    width: 100%;
    padding-top: 4rem;
    text-align: center;
    font-size: 3rem;
}

/* CONTACT - LEFT SIDE */

.contact__form {
    width: 40rem;
    padding-top: 2rem;
}

#fname,
#email,
#pnumber,
#message {
    width: 100%;
    border: 2px solid var(--clr-primary);
    border-radius: 3px;
    margin-bottom: 0.5rem;
    background-color: var(--clr-light);
}

#message {
    resize: none;
    margin-top: 1.5rem;
}

/* BUTTONS */

.contact__button {
    width: 10rem;
    margin-right: 1rem;
    border: 2px solid black;
}

.contact__button:hover {
    background: var(--clr-secondary);
    color: var(--clr-primary);
    box-shadow: 0 0 10px var(--clr-primary);
}

.contact__button-reset {
    width: 5rem;
    font-size: 1.1rem;
    background: var(--clr-secondary);
}

.contact__button-reset:hover {
    background: var(--clr-primary);
    color: var(--clr-secondary);
    box-shadow: 0 0 5px var(--clr-primary);
}

/* CONTACT - RIGHT SIDE */

.contact__details {
    min-width: 25%;
    padding: 3.4rem;
    margin-left: 3rem;
    text-align: left;
}

.contact__details-title {
    margin-bottom: 1rem;
}

.contact__table-padding {
    padding-right: 10px;
}

/* --FOOTER-- */

.footer {
    background-color: var(--clr-primary);
    overflow: hidden;
    text-align: center;
}

.footer__brand {
    padding-top: 1rem;
}

.footer__brand-span {
    padding: 0 5px;
    background-color: var(--clr-secondary);
}

.footer__socials {
    display: inline-block;
    margin: 2rem;

}

.footer__icons:hover {
    filter: invert(50%);
}


/* --PORTFOLIO-- */

.title {
    padding: 5rem 0 1rem;
    text-align: center;
    font-size: 3rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.img-fullwidth {
    grid-column: 1 / 3;
}

/* --MEDIA QUERIES-- */

@media only screen and (max-width: 980px) {
    .navbar__logo {
        width: 96%;
        text-align: center;
    }

    .navbar__sections {
        width: 100%;
    }

    .hero__message {
        top: 45%;
    }

    .hero__message-big {
        font-size: 3rem;
    }

    .hero__message-small {
        font-size: 1.5rem;
    }

    .about-us__info {
        padding: 0;
    }

    .design-steps__title {
        font-size: 4rem;
    }

    .design-steps__list {
        top: 30%
    }

    .contact__title {
        padding-top: 6rem;
    }
}

@media only screen and (max-width: 768px) {
    .design-steps__card {
        width: 90%;
        height: 10%;
        font-size: 1rem;
    }

    .gallery {
        display: block;
    }

    .gallery__image {
        margin-top: 1rem;
    }
}