@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mandali&family=Raleway&family=Roboto:wght@300&display=swap");

/* --VARIABLES-- */

:root {
    --ff-logo: "Lato", sans-serif;
    --ff-main: "Mandali", sans-serif;
    --ff-secondary: "Roboto", sans-serif;
    --fw-l: 300;
    --fw-m: 400;
    --clr-bg: #f7f7f7;
    --clr-primary: #393e46;
    --clr-secondary: rgb(242, 231, 213);
}

/* --RESET CSS-- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--clr-secondary);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* --UTILITIES-- */

.ffmain {
    font-family: var(--ff-main);
    font-weight: var(--fw-m);
}

.fflogo {
    font-family: var(--ff-logo);
    font-weight: var(--fw-l);
}

.ffsecondary {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-m);
}

.linear-bg {
    background: linear-gradient(to bottom, #393e46e8, rgba(66, 65, 65, 0.897));
}

.tshdw {
    text-shadow: 0 0 2px #000;
}

.tshdw-big {
    text-shadow: 0 0 3px black, 0 -3px 15px black;
}

.bshdw {
    box-shadow: 0 0 5px #000;
}

.txt-decor {
    text-decoration: none;
}

.list-style {
    list-style: none;
}

.clr-secondary {
    color: var(--clr-secondary);
}

.clr-primary {
    color: var(--clr-primary);
}

.fs-big {
    font-size: 2rem;
}

.fs-small {
    font-size: 0.8em;
}

.bottom-margin {
    margin-bottom: 1rem;
}

.b-radius {
    border-radius: 10px;
}

.sml-padding {
    padding: 1rem;
}

/* --HEADER-- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    padding-bottom: 3px;
}

.navbar__logo {
    font-size: 2rem;
    letter-spacing: 5px;
}

.navbar__logo-span {
    font-size: 1.8rem;
    margin: 0 20px;
    padding: 0 0 3px 6px;
    border: 1px solid var(--clr-secondary);
}

.navbar__sections {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
}

.navbar__link {
    width: 12rem;
    height: 2rem;
    letter-spacing: 5px;
    font-size: 1.2rem;
    text-align: center;
}

.navbar__link-hover:hover {
    border-bottom: 1px solid var(--clr-secondary);
    padding-bottom: 5px;
}

/* --HERO SECTION-- */

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../images/background-image.jpg) no-repeat center center;
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;
    animation: hero-zoom 4s forwards;
}

/* Animation for hero backgroud */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.hero__message {
    width: 50%;
    min-height: 30rem;
    position: absolute;
    top: 30%;
    right: 25%;
    padding: 5rem;
    text-align: center;
}

.hero__message-big {
    font-size: 4rem;
}

.hero__message-small {
    margin-top: 2rem;
    font-size: 2rem;
}

/* --ABOUT US-- */

#about-us {
    width: 70%;
    margin: 2rem auto;
    padding: 8rem 0;
    font-size: 2rem;
    text-align: center;
}

.about-us__info {
    font-family: var(--ff-secondary);
    margin-top: 2rem;
    font-size: 0.8em;
}

.about-us-span {
    font-weight: 800;
}

.about-us__presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    gap: 2rem;
}

.about-us__card {
    width: 25rem;
    flex: 0 0 auto;
    border: 1px solid var(--clr-primary);
    font-size: 1.5rem;
    overflow: hidden;
}

/* --DESIGN STEPS-- */

.design-steps {
    width: 100%;
    height: 55rem;
    background: url(../images/showroom.webp);
    background-size: cover;
    background-attachment: fixed;
    background-color: gray;
    background-blend-mode: multiply;
    position: relative;
}

.design-steps__title {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 6rem;
}

.design-steps__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 2rem;
    list-style: none;
    position: absolute;
    bottom: 35%;
    gap: 1rem;
}

.design-steps__card {
    padding: 1.2rem 1.5rem;
    text-align: center;
    width: 25rem;
    height: 12rem;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

/* --CONTACT US-- */

#contact {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

}

.contact__title {
    width: 100%;
    padding-top: 6rem;
    text-align: center;
    font-size: 3rem;
}

.contact__form {
    width: 50rem;
    padding-top: 2rem;
}

#fname,
#email,
#pnumber,
#message {
    width: 100%;
    border: 2px solid var(--clr-primary);
    border-radius: 3px;
    margin-bottom: 0.5rem;
}

#message {
    margin-top: 1.5rem;
}

.contact__details {
    min-width: 30%;
    padding: 3.4rem;
    margin-left: 3rem;
    text-align: left;
}

.contact__details-title {
    margin-bottom: 1rem;
}

.contact__table-padding {
    padding-right: 10px;
}

/* --BUTTONS-- */

.contact__button {
    width: 10rem;
    margin: 1rem;
    font-size: 1.2rem;
    border: 2px solid black;
}

.contact__button:hover {
    background: var(--clr-secondary);
    color: var(--clr-primary);
    box-shadow: 0 0 15px var(--clr-primary);
}